<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ym.vaccine.mapper.YmInoculateMapper">

    <resultMap type="com.ym.vaccine.domain.YmInoculate" id="YmInoculateResult">
        <result property="id" column="id"/>
        <result property="part" column="part"/>
        <result property="appointId" column="appoint_id"/>
        <result property="createTime" column="create_time"/>
        <result property="vaccineId" column="vaccine_id"/>
        <result property="userId" column="user_id"/>
        <result property="workId" column="work_id"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="inoculateTime" column="inoculate_time"/>
    </resultMap>

</mapper>
