<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ym.vaccine.mapper.YmObserveMapper">

    <resultMap type="com.ym.vaccine.domain.YmObserve" id="YmObserveResult">
        <result property="id" column="id"/>
        <result property="workerId" column="worker_id"/>
        <result property="createTime" column="create_time"/>
        <result property="appointId" column="appoint_id"/>
        <result property="isFinish" column="is_finish"/>
        <result property="note" column="note"/>
        <result property="endTime" column="end_time"/>
    </resultMap>


</mapper>
