<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ym.vaccine.mapper.YmOrdersMapper">

    <resultMap type="com.ym.vaccine.domain.YmOrders" id="YmOrdersResult">
        <result property="id" column="id"/>
        <result property="appointId" column="appoint_id"/>
        <result property="createTime" column="create_time"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="paymentMethod" column="payment_method"/>
        <result property="status" column="status"/>
    </resultMap>



</mapper>
