<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ym.vaccine.mapper.YmVaccineStockMapper">

    <resultMap type="com.ym.vaccine.domain.YmVaccineStock" id="YmVaccineStockResult">
        <result property="siteId" column="site_id"/>
        <result property="vaccineId" column="vaccine_id"/>
        <result property="siteAmount" column="site_amount"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <select id="vaccineBySiteId" resultType="com.ym.vaccine.domain.vo.YmVaccineStockVo"
            parameterType="java.lang.Long">
        SELECT * FROM ym_vaccine_stock WHERE site_id = #{siteId}
    </select>


</mapper>
